<div class='container'>
  <div class='jumbotron'>

    <%= link_to image_tag('icons/left_arrow', size: '25'), books_path %>

    <h1 class='section-title text-center'>New Book</h1>

    <ul class='help-block'>
      <% @book.errors[:base].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>

    <%= simple_form_for @book, url: books_path, method: :post, html: {class: 'form-horizontal'} do |f| %>
    <%= f.input :name, label: 'Name', placeholder: "Book's name"%>
    <%= f.input :author, label: 'Author', placeholder: "Author's name" %>
    <%= f.input :has_read, label: 'Read?' %>
    <%= f.button :submit, "Create" %>

    <% end %>

  </div>
</div>
