<h1>New Book</h1>

<%= form_for @book, url: books_path, method: :post do |f| %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>

  <div class="field">
    <%= radio_button_tag(:hasRead, false, checked = true) %>
    <%= label_tag(:hasRead_false, 'Not yet read') %>
    <%= radio_button_tag(:hasRead, true) %>
    <%= label_tag(:hasRead_true, 'Already read') %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

<%= link_to 'Back', books_path %>
